Source: mgse-alttab
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mgse-alttab
Architecture: all
Description: Gnome Shell Extension Alt Tab
 Traditional Alt Tab for Gnome Shell
