Source: mgse-userthemes
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mgse-userthemes
Architecture: all
Description: Gnome Shell Extension User Themes
 Load shell themes from user directory
